.rollDice {
  text-align: center;
  cursor: pointer;
  color: crimson;
  border: 1px solid crimson;
  background-color: darkgray;
  font-size: 1.75rem;
  width: 6rem;
  height: 3rem;
}
@media (max-width: 760px) {
  .rollDice {
    font-size: 0.75rem;
    width: 5rem;
    height: 2rem;
  }
}
