.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: black 1px solid;
  width: 50%;
  height: 60vh;
}

.titleName {
  font-size: 1.5rem;
  position: relative;
}

.turnPoint {
  border: 1px solid red;
  background-color: red;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
}

.totalScore {
  font-size: 0.8rem;
}
.currentScore {
  font-size: 0.8rem;
}
