.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: black 1px solid;
  width: 50%;
  height: 60vh;
  position: relative;
}

.titleName {
  font-size: 1.5rem;
}

.turnPoint {
  border: 2px solid red;
  height: 100%;
  width: 100%;
  position: absolute;
}

.totalScore {
  font-size: 0.8rem;
}
.currentScore {
  font-size: 0.8rem;
}
