.newGameButton {
  color: crimson;
  border: 1px solid crimson;
  background-color: darkgray;
  cursor: pointer;
  font-size: 2rem;
}
@media (max-width: 760px) {
  .newGameButton {
    position: absolute;
    top: 0rem;
    text-align: center;
    height: 2rem;
    width: 100%;
    font-size: 0.75rem;
  }
}
